
/*---------------------------------------------------------dropdown horizontal menu style----------------------------------------------------------------------------*/
/*The container for when you want to create a horizontal bar*/
ul {
    width:100%
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}
/*Must be called before creating the buttons for the horizontal bar and called as a dropdown class to create a droipdown button*/
li {
    float: left;
}
/*The dropdown button which has a href="javascript:void(0)" in the same call*/
li div, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s
}

li div div:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block; 
    transition: 0.5s
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*The content for each dropdown*/
.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.3s
}

.dropdown-content div:hover {background-color: #818181}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.5s
}

/*---------------------------------------------------------------Vertical side menu style---------------------------------------------------------------------------*/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - should be changed with JavaScript but the teacher doesn't like it */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav div {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav div:hover, .offcanvas div:focus{
    background-color: red;
}

/* Position and style the close button (top right corner) */
/**
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}
**/
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#general{
   width: 80%;
   height: 80%;
   
}

