h1 {
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;/*texte écrit dans le centre de la page*/
    text-shadow: 3px 2px grey;/*ombrage gris de texte*/
    letter-spacing: 5px;/*l'espace entre chaque lettre du texte*/
    text-decoration: overline grey; /*ligne gris en haut du texte*/

}
/*---------------------------------------------------------dropdown horizontal menu style----------------------------------------------------------------------------*/
/*Le contenu nécessaire afin de créer le menu horizontal*/
ul {
    width:100%
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5D5D5D;
    border-style: outset;
}
/*Doit Être appelé avant la création des boutons de menu horizontal et appelé comme une classe dropdown afind de créer un bouton dropdown*/
li {
    float: left;
}
/*Le bouton dropdown ayant a href="javascript:void(0)" dans le même appel*/
li div, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

li div div:hover, .dropdown:hover .dropbtn {
    background-color: #C4B2A0;
    color: black;
    border-style: inset;

}

li.dropdown {
    display: inline-block; 
    transition: 0.5s
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5D5D5D;
    min-width: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px 0px;

}

/*Le contenu de chaque dropdown*/
.dropdown-content div {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.3s;
    border-style: inset;

}

.dropdown-content div:hover {background-color: #C4B2A0}
{
color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.5s
}

/*---------------------------------------------------------------Vertical side menu style---------------------------------------------------------------------------*/

/* la navigation de menu vertical */
.sidenav {
    height: 78.5%; /* 100% Full-height */
    width: 20%;  
    position: fixed; /* reste dans une place */
    z-index: 1; /*reste en haut */
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 127px;
    background-color: #5D5D5D; /* Noire*/
    overflow-x: hidden; /* désactiver le rouleux ver le bas */
    padding-top: 0px; /* Placer le contenu 60px d'en haut */
    transition: 0.5s; /* 0.5 seconde d'effet de transition avant de faire glisser dans le sidenav */
    border-style: outset;/*l'effet de relief (menu non enfoncé)*/ 

}

/* Les liens de menu de navigation */
.sidenav div {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;

}

/* Changement de couleur lors du placement du souri sur les liens de navigation */
.sidenav div:hover, .offcanvas div:focus{
    background-color: #C4B2A0;
    color: black;
    border-style: inset;
}

/* Position et style de button de fermeture (coin en haut à droite) */
/**
.sidenav .closebtn {
    position: absolute;
    top: 50;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}
**/
/* le Style du contenu de la page - à être utiliser si on veux pousser le contenu de la page à la doite lors de l'ouverture la navigation vertical */
#main {
    transition: margin-right .5s;
    padding: 20px;

}

/* changement de style de sidenav dans le cas des écrans plus petits où la hauteur est moins de 450px (moins de padding et moins grand police) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#general{
   width: 80%;
   height: 80%;
   
}

